# Dependencies
node_modules

# Build output
dist

# Environment
.env
*.local

# Logs
logs
*.log

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?

# Test results
test-results

# Legacy
.output
.vinxi
dist-ssr
